<!-- erbstart app/views/new_employer_user_mailer/sample_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      This is an automated message. CardinalTalent has registered the creation of a new <%= @user.signuprole %> account. The details of the new account are below.
    </p>
    <p>
      First Name: <%= @user.first_name %><br />
      Last Name: <%= @user.last_name %><br />
      Location: <%= @user.location_interest_usa %><br />
      Permission Level: <%= @user.role %><br />
      Sign-up Role: <%= @user.signuprole %><br />
      Email Address: <%= @user.email %><br />
      Phone Number: <%= @user.phone_number %><br />
    </p>
  </body>
</html>
<!-- erbend app/views/new_employer_user_mailer/sample_email.html.erb -->
