<!-- erbstart app/views/linkedin_schools/index.html.erb -->
<p id="notice"><%= notice %></p>

<h1>Linkedin Schools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo url</th>
      <th>Internal logo url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linkedin_schools.each do |linkedin_school| %>
      <tr>
        <td><%= linkedin_school.name %></td>
        <td><%= linkedin_school.logo_url %></td>
        <td><%= linkedin_school.internal_logo_url %></td>
        <td><%= link_to 'Show', linkedin_school %></td>
        <td><%= link_to 'Edit', edit_linkedin_school_path(linkedin_school) %></td>
        <td><%= link_to 'Destroy', linkedin_school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linkedin School', new_linkedin_school_path %>
<!-- erbend app/views/linkedin_schools/index.html.erb -->
