<!-- erbstart app/views/people/_action-items.html.erb -->
<div class="btn-group btn-group-sm" style="padding: 0.2em;">
  <a class="btn btn-danger btn-outline" href="#">
    Actions
  </a>
  <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <% if current_user.flagged_candidate_for(person) %>
    <% flagged_candidate = current_user.flagged_candidate_for(person) %>
      <li>
        <%= link_to [person, flagged_candidate], method: :delete do %>
          <i class="fa fa-flag fa-fw"></i>&nbsp;Cancel flag for review
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to new_flagged_candidate_path, locals: { person: person, user: current_user }, action: :new, method: :post do %>
          <i class="fa fa-flag fa-fw"></i>&nbsp;Flag this candidate for review
        <% end %>
      </li>
    <% end %>

    <% if current_user && (current_user.role == "employer") %>
        <% if current_user.saved_candidate_for(person) %>
        <% saved_candidate = current_user.saved_candidate_for(person) %>
          <li>
            <%= link_to [person, saved_candidate], method: :delete do %>
            <i class="fa fa-star fa-fw"></i>&nbsp;Remove from my candidates</a>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to [person, SavedCandidate.new], method: :post do %>
            <i class="fa fa-star fa-fw"></i>&nbsp;Save to my candidates</a>
            <% end %>
          </li>
        <% end %>

      <% if current_user.followed_candidate_for(person) %>
      <% followed_candidate = current_user.followed_candidate_for(person) %>
          <li>
          <%= link_to [person, followed_candidate], method: :delete do %>
              <i class="fa fa-suitcase fa-fw"></i>&nbsp;Cancel interview request
          <% end %>
          </li>
      <% else %>
          <li>
          <%= link_to [person, FollowedCandidate.new], method: :post do %>
              <i class="fa fa-suitcase fa-fw"></i>&nbsp;Request an interview
          <% end %>
          </li>
      <% end %>

    <% elsif current_user && (current_user.member? || current_user.admin?) %>

      <li>
        <%= link_to new_user_recruiter_update_path(current_user, person), { person_id: person.id }, method: :post do %>
          <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;Log status change
        <% end %>
      </li>

      <% if current_user.submitted_candidate_for(person) %>
      <% submitted_candidate = current_user.submitted_candidate_for(person) %>
        <li>
          <%= link_to [person, submitted_candidate], method: :delete do %>
            <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;Cancel submittal
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_submitted_candidate_path, { person_id: person.id }, method: :post do %>
            <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;Submit this candidate
          <% end %>
        </li>
      <% end %>

      <li>
        <%= link_to new_message_path(to: person.id) do %>
          <i class="fa fa-envelope-o fa-fw"></i> Send a message
        <% end %>
      </li>

      <% if current_user.followed_candidate_for(person) %>
      <% followed_candidate = current_user.followed_candidate_for(person) %>
          <li>
          <%= link_to [person, followed_candidate], method: :delete do %>
              <i class="fa fa-suitcase fa-fw"></i> Cancel interview request
          <% end %>
          </li>
      <% else %>
          <li>
          <%= link_to [person, FollowedCandidate.new], method: :post do %>
              <i class="fa fa-suitcase fa-fw"></i> Request an interview
          <% end %>
          </li>
      <% end %>

    <% end %>
  </ul>
</div>
<!-- erbend app/views/people/_action-items.html.erb -->
