<!-- erbstart app/views/people/_action-items-follow.html.erb -->
<% if current_user && (current_user.role == "employer") %>

  <% if current_user.followed_candidate_for(person) %>
    <% followed_candidate = current_user.followed_candidate_for(person) %>
      <li class="list-inline-item btn btn-sm btn-primary" style="color: #fff; margin: 0.1em;">
        <%= link_to [person, followed_candidate], method: :delete, style: "color: #fff;" do %>
          <i class="fa fa-suitcase fa-fw"></i>&nbsp;Cancel interview request
          <% end %>
        </li>
        <% else %>
        <li class="list-inline-item btn btn-sm btn-primary" style="color: #fff; margin: 0.1em;">
          <%= link_to [person, FollowedCandidate.new], method: :post, style: "color: #fff;" do %>
          <i class="fa fa-suitcase fa-fw"></i>&nbsp;Request an interview
          <% end %>
        </li>
        <% end %>

  <% if current_user.flagged_candidate_for(person) %>
  <% flagged_candidate = current_user.flagged_candidate_for(person) %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, flagged_candidate], method: :delete, style: "color: #fff;" do %>
        <i class="fa fa-flag fa-fw"></i>&nbsp;Cancel flag for review
      <% end %>
    </li>
  <% else %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, FlaggedCandidate.new], method: :post, style: "color: #fff;" do %>
        <i class="fa fa-flag fa-fw"></i>&nbsp;Flag this candidate for review
      <% end %>
    </li>
  <% end %>

  <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to person_path(person), style: "color: #fff;" do %>
          <i class="fa fa-user fa-fw"></i>&nbsp;More detail
      <% end %>
  </li>

<% elsif current_user && (current_user.member? || current_user.admin?) %>

  <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
    <%= link_to new_user_recruiter_update_path(current_user, person), { person_id: person.id }, method: :post, style: "color: #fff;" do %>
      <i class="fa fa-pencil-square-o fa-fw"></i>&nbsp;Log status change
    <% end %>
  </li>

  <% if current_user.submitted_candidate_for(person) %>
  <% submitted_candidate = current_user.submitted_candidate_for(person) %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, submitted_candidate], method: :delete, style: "color: #fff;" do %>
        <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;Cancel submittal
      <% end %>
    </li>
  <% else %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to new_submitted_candidate_path, { person_id: person.id }, method: :post, style: "color: #fff;" do %>
        <i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;Submit this candidate
      <% end %>
    </li>
  <% end %>

  <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
    <%= link_to new_message_path(to: person.id), style: "color: #fff;" do %>
      <i class="fa fa-envelope-o fa-fw"></i> Send a message
    <% end %>
  </li>

  <% if current_user.person == person %>
  <%= modal title: ' More detail', size: :large, id: 'modal', button: {class: :en} do %>
    <div class="modal-body">
      <div style="display: flex; flex-flow: column wrap; justify-content: left; align-items: left;">
        <%= simple_form_for @user.user_contact_preferences.first_or_initialize, html: {multipart: true} do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
              <p class="lead">I want to receive emails for new candidate matches</p>
            <%= f.input :subscribe_candidate_matches, label: 'Subscribe me to new candidate matches', as: :radio_buttons, boolean_style: :inline %>
          </div>
          <div class="field">
              <p class="lead">I want to receive emails for reminders such as interview dates and times</p>
            <%= f.input :subscribe_reminders, label: 'Subscribe me to reminders', as: :radio_buttons, boolean_style: :inline %>
          </div>
            <%= f.hidden_field :user_id, value: @user.id %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <div class="buttons">
        <%= f.submit "Update my subscriptions", class: "btn btn-xl btn-success" %>
        <%= link_to "View/Edit Talent Profile", welcome_talent_intro_path, class: "btn btn-xl btn-primary" %>
      </div>
    </div>
  <% end %>

  <% if current_user.followed_candidate_for(person) %>
  <% followed_candidate = current_user.followed_candidate_for(person) %>
      <li class="list-inline-item btn btn-sm btn-primary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, followed_candidate], method: :delete, style: "color: #fff;" do %>
          <i class="fa fa-suitcase fa-fw"></i> Cancel interview request
      <% end %>
      </li>
  <% else %>
      <li class="list-inline-item btn btn-sm btn-primary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, FollowedCandidate.new], method: :post, style: "color: #fff;" do %>
          <i class="fa fa-suitcase fa-fw"></i> Request an interview
      <% end %>
      </li>
  <% end %>

  <% if current_user.flagged_candidate_for(person) %>
  <% flagged_candidate = current_user.flagged_candidate_for(person) %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, flagged_candidate], method: :delete, style: "color: #fff;" do %>
        <i class="fa fa-flag fa-fw"></i>&nbsp;Cancel flag for review
      <% end %>
    </li>
  <% else %>
    <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to [person, FlaggedCandidate.new], method: :post, style: "color: #fff;" do %>
        <i class="fa fa-flag fa-fw"></i>&nbsp;Flag this candidate for review
      <% end %>
    </li>
  <% end %>

  <li class="list-inline-item btn btn-sm btn-secondary" style="color: #fff; margin: 0.1em;">
      <%= link_to person_path(person), style: "color: #fff;" do %>
          <i class="fa fa-user fa-fw"></i>&nbsp;More detail
      <% end %>
  </li>
<% end %>
<!-- erbend app/views/people/_action-items-follow.html.erb -->
