<!-- erbstart app/views/submitted_requests/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @submitted_request.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @submitted_request.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @submitted_request.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @submitted_request.belongs_to %>
</p>

<%= link_to 'Edit', edit_submitted_request_path(@submitted_request) %> |
<%= link_to 'Back', submitted_requests_path %>
<!-- erbend app/views/submitted_requests/show.html.erb -->
