<!-- erbstart app/views/interviews/_form.html.erb -->
<%= simple_form_for(@interview, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.time_zone_select :timezone %>
    <%= f.input :duration,
      collection: ['15 minutes', '30 minutes', '45 minutes', '1 hour', '1 hour 15 minutes', '1 hour 30 minutes', '1 hour 45 minutes', '2 hours', '2 hours 15 minutes', '2 hours 30 minutes', '2 hours 45 minutes', '3 hours', '3 hours 15 minutes', '3 hours 30 minutes', '3 hours 45 minutes', '4 hours', '4 hours 15 minutes', '4 hours 30 minutes', '4 hours 45 minutes', '5 hours', '5 hours 15 minutes', '5 hours 30 minutes', '5 hours 45 minutes', '6 hours', '6 hours 15 minutes', '6 hours 30 minutes', '6 hours 45 minutes', '7 hours', '7 hours 15 minutes', '7 hours 30 minutes', '7 hours 45 minutes', '8 hours'] %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :format %>
    <%= f.input :location %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<!-- erbend app/views/interviews/_form.html.erb -->
