<!-- erbstart app/views/submittals/index.html.erb -->
<p id="notice"><%= notice %></p>

<h1>Submittals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submittals.each do |submittal| %>
      <tr>
        <td><%= link_to 'Show', submittal %></td>
        <td><%= link_to 'Edit', edit_submittal_path(submittal) %></td>
        <td><%= link_to 'Destroy', submittal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submittal', new_submittal_path %>
<!-- erbend app/views/submittals/index.html.erb -->
