<!-- erbstart app/views/candidate_searches/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Search texts:</strong>
  <%= @candidate_search.search_texts %>
</p>

<p>
  <strong>Locations:</strong>
  <%= @candidate_search.locations %>
</p>

<p>
  <strong>Employers:</strong>
  <%= @candidate_search.employers %>
</p>

<p>
  <strong>Titles:</strong>
  <%= @candidate_search.titles %>
</p>

<p>
  <strong>Schools:</strong>
  <%= @candidate_search.schools %>
</p>

<p>
  <strong>Degrees:</strong>
  <%= @candidate_search.degrees %>
</p>

<p>
  <strong>Disciplines:</strong>
  <%= @candidate_search.disciplines %>
</p>

<p>
  <strong>Names:</strong>
  <%= @candidate_search.names %>
</p>

<p>
  <strong>Min time in job:</strong>
  <%= @candidate_search.min_time_in_job %>
</p>

<p>
  <strong>Max time in job:</strong>
  <%= @candidate_search.max_time_in_job %>
</p>

<p>
  <strong>Min career length:</strong>
  <%= @candidate_search.min_career_length %>
</p>

<p>
  <strong>Max career length:</strong>
  <%= @candidate_search.max_career_length %>
</p>

<p>
  <strong>Min activity date:</strong>
  <%= @candidate_search.min_activity_date %>
</p>

<p>
  <strong>Max activity date:</strong>
  <%= @candidate_search.max_activity_date %>
</p>



<p>
  <strong>Linkedin available:</strong>
  <%= @candidate_search.linkedin_available %>
</p>

<p>
  <strong>Phone number available:</strong>
  <%= @candidate_search.phone_number_available %>
</p>

<p>
  <strong>Github available:</strong>
  <%= @candidate_search.github_available %>
</p>

<p>
  <strong>Top school status:</strong>
  <%= @candidate_search.top_company %>
</p>

<p>
  <strong>Top company status:</strong>
  <%= @candidate_search.top_company %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @candidate_search.keyword %>
</p>

<p>
  <strong>User:</strong>
  <%= @candidate_search.user %>
</p>

<p>
  <strong>Emails:</strong>
  <%= @candidate_search.emails %>
</p>

<p>
  <strong>Phone numbers:</strong>
  <%= @candidate_search.phone_numbers %>
</p>

<p>
  <strong>Linkedin urls:</strong>
  <%= @candidate_search.linkedin_urls %>
</p>

<p>
  <strong>Active:</strong>
  <%= @candidate_search.active %>
</p>

<p>
  <strong>Candidates without notes:</strong>
  <%= @candidate_search.candidates_without_notes %>
</p>

<p>
  <strong>Top one percent status:</strong>
  <%= @candidate_search.top_one_percent_status %>
</p>

<p>
  <strong>Top five percent status:</strong>
  <%= @candidate_search.top_five_percent_status %>
</p>

<p>
  <strong>Top ten percent status:</strong>
  <%= @candidate_search.top_ten_percent_status %>
</p>

<p>
  <strong>Recently added:</strong>
  <%= @candidate_search.recently_added %>
</p>

<p>
  <strong>Candidates with notes:</strong>
  <%= @candidate_search.candidates_with_notes %>
</p>

<p>
  <strong>Experience years:</strong>
  <%= @candidate_search.experience_years %>
</p>

<p>
  <strong>Job type full time:</strong>
  <%= @candidate_search.job_type_full_time %>
</p>

<p>
  <strong>Job type contract:</strong>
  <%= @candidate_search.job_type_contract %>
</p>

<p>
  <strong>Relocation:</strong>
  <%= @candidate_search.relocation %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @candidate_search.remote %>
</p>

<p>
  <strong>Person:</strong>
  <%= @candidate_search.person %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @candidate_search.skills %>
</p>

<p>
  <strong>First names:</strong>
  <%= @candidate_search.first_names %>
</p>

<p>
  <strong>Last names:</strong>
  <%= @candidate_search.last_names %>
</p>

<p>
  <strong>Top company:</strong>
  <%= @candidate_search.top_company %>
</p>

<p>
  <strong>Top school:</strong>
  <%= @candidate_search.top_school %>
</p>

<p>
  <strong>Min education level:</strong>
  <%= @candidate_search.min_education_level %>
</p>

<p>
  <strong>Top company or top school:</strong>
  <%= @candidate_search.top_company_or_top_school %>
</p>

<p>
  <strong>All candidates:</strong>
  <%= @candidate_search.all_candidates %>
</p>

<p>
  <strong>Fulltime candidates:</strong>
  <%= @candidate_search.fulltime_candidates %>
</p>

<p>
  <strong>Freelance candidates:</strong>
  <%= @candidate_search.freelance_candidates %>
</p>

<p>
  <strong>Open to new opportunities:</strong>
  <%= @candidate_search.open_to_new_opportunities %>
</p>

<p>
  <strong>Willing to work remote:</strong>
  <%= @candidate_search.willing_to_work_remote %>
</p>

<p>
  <strong>Message date:</strong>
  <%= @candidate_search.message_date %>
</p>

<%= link_to 'Edit', edit_candidate_search_path(@candidate_search) %> |
<%= link_to 'Back', candidate_searches_path %>
<!-- erbend app/views/candidate_searches/show.html.erb -->
