<p id="notice"><%= notice %></p>

<h1>Intake Batches</h1>

<table>
  <thead>
    <tr>
      <th>Int</th>
      <th>Int</th>
      <th>Int</th>
      <th>String</th>
      <th>Boolean</th>
      <th>Int</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intake_batches.each do |intake_batch| %>
      <tr>
        <td><%= intake_batch.int %></td>
        <td><%= intake_batch.int %></td>
        <td><%= intake_batch.int %></td>
        <td><%= intake_batch.string %></td>
        <td><%= intake_batch.boolean %></td>
        <td><%= intake_batch.int %></td>
        <td><%= link_to 'Show', intake_batch %></td>
        <td><%= link_to 'Edit', edit_intake_batch_path(intake_batch) %></td>
        <td><%= link_to 'Destroy', intake_batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intake Batch', new_intake_batch_path %>
