<!-- erbstart app/views/linkedin_profile_recommendations/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @linkedin_profile_recommendation.text %>
</p>

<p>
  <strong>Type:</strong>
  <%= @linkedin_profile_recommendation.type %>
</p>

<p>
  <strong>Recommender:</strong>
  <%= @linkedin_profile_recommendation.recommender_id %>
</p>

<p>
  <strong>Linkedin profile:</strong>
  <%= @linkedin_profile_recommendation.linkedin_profile_id %>
</p>

<%= link_to 'Edit', edit_linkedin_profile_recommendation_path(@linkedin_profile_recommendation) %> |
<%= link_to 'Back', linkedin_profile_recommendations_path %>
<!-- erbend app/views/linkedin_profile_recommendations/show.html.erb -->
