<!-- erbstart app/views/linkedin_profile_url_resources/_form.html.erb -->
<%= form_for(linkedin_profile_url_resource) do |f| %>
  <% if linkedin_profile_url_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(linkedin_profile_url_resource.errors.count, "error") %> prohibited this linkedin_profile_url_resource from being saved:</h2>

      <ul>
      <% linkedin_profile_url_resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :linkedin_profile_id %>
    <%= f.number_field :linkedin_profile_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :domain %>
    <%= f.text_field :domain %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<!-- erbend app/views/linkedin_profile_url_resources/_form.html.erb -->
