<!-- erbstart app/views/help_pages/newhires.html.erb -->
<div class="space-20"></div>
<div style="min-height: fit-content;">
  <div id="newhires-page">
    <div class="newhires-layout">
      <div class="newhires-wrapper">
        <h2>New Hires</h2>

        <div class="accordion">
          <div class="accordion-item">

            <a class="item-title">Get Started Guide</a>

            <div class="content">
              <p>
                Before you get started making your calls, submitting candidates, setting up phone and on-site
                interviews, and ultimately making placements of your candidates at some of Silicon Valley's top tech
                companies, you may wish to familiarize yourself with
                the resources available to you.
              </p>

              <p>
              <ul>
                <li>Make a call sheet to keep track of your outreach to candidates</li>
                <li>Review the CardinalTalent client spreadsheet that will be shared to you</li>
                <li>After you have been assigned 2-3 roles to source for, research the company in depth, including the
                  company website and Crunchbase profile
                </li>
              </ul>
              </p>

              <h4>Important things to learn about the company</h4>

              <p>
              <ul>
                <li>Location of the company offices</li>
                <li>Stage of start-up funding (Series A, etc.) (if applicable)</li>
                <li>Who are their biggest investors? Any exciting names associated with the company?</li>
                <li>How many employees do they have? How big is the team the candidate would work join?</li>
              </ul>
              </p>

              <h4>Important things to learn about the position and role</h4>

              <p>
              <ul>
                <li>Would you characterize the role as junior, mid-level, or senior?</li>
                <li>Which skills or programming languages are required to be successful?</li>
                <li>Which skills or programming languages are considered nice to have?</li>
                <li>What is the salary range being offered?</li>
                <li>Is the position for full-time employment (FTE) or on a contract basis?</li>
                <li>Is the position full-time on-site, partially remote, full-time remote, or something else?</li>
                <li>What are the work authorization restrictions for this position?</li>
              </ul>
              </p>

              <h4>Useful sources available to you for sourcing candidates</h4>

              <p>
              <ul>
                <li>Angel.co</li>
                <li>Hiretual.com</li>
                <li>Monster</li>
                <li>CareerBuilder</li>
                <li>Indeed</li>
                <li>Craigslist</li>
                <li>Dice</li>
              </ul>
              </p>

              <h4>What's the next?</h4>

              <p>
              <ul>
                <li>After researching the companies, the available roles, and where to find candidates, you are now
                  ready to get started.
                </li>
                <li>You should call candidates that are a fit for the specific roles, and record the result of the
                  conversation on the call sheet template we have emailed you.
                </li>
                <li>Regardless of whether the candidate is interested or not, you should record all work done on this
                  spreadsheet. We will review some of the information you need to collect from the candidate during your
                  phone conversation below.
                </li>
                <li><%= link_to 'Listen to an example candidate phone interview here', @example_candidate_phone_interview %></li>
              </ul>
              </p>

              <h4>Interested Candidates</h4>

              <p>
              <ul>
                <li>If the candidate you spoke to is interested in the position, you should then submit them to the
                  appropriate account manager in charge of that client.
                </li>
                <li>Client and account manager information can be found on the CardinalTalent client spreadsheet that was
                  shared with you.
                </li>
                <li>Contact information for account managers can be found on the CardinalTalent client spreadsheet that
                  was shared with you. (Check the Contacts tab.)
                </li>
                <li>You will need to submit the candidates with as much of the following information as you can
                  provide:
                </li>
                <ul>
                  <li>Work authorization status (citizenship, green card status, H1B status, etc.)</li>
                  <li>Salary expectations (usually a range)</li>
                  <li>Candidate contact information (phone number is necessary; other details, such as time zone,
                    website resources, GitHub URL, LinkedIn URL, etc., are also nice to have)
                  </li>
                  <li>At least 2-3 dates and times when the candidate would be available for a phone interview</li>
                  <li>Up-to-date resume</li>
                </ul>
              </ul>
              </p>

              <h4>When submitting candidates, be prepared to follow-up!</h4>

              <p>
              <ul>
                <li>Set aside time to follow-up with your candidates at every stage of the process.</li>
                <li>Please CC admin@cardinalhire.com on the email submittal.</li>
                <li>And be sure to include the candidate background information described above!</li>
              </ul>
              </p>

              <h4>Metrics for succcess</h4>

              <p>
              <ul>
                <li>You can be expected to make 20-30 calls per day! Tracking calls is easier if you do it immediately
                  in the moment, instead of trying to collect the details of a large number of calls after the fact.
                </li>
                <li>Submitting 2-4 candidates per day</li>
                <li>Confirming 3-5 interviews per day</li>
              </ul>
              </p>

              <p>The above metrics are only guidelines, but they correlate with meeting the most important target of
                all:
              <ul>
                <li>1-2 placements per month!</li>
              </ul>
              </p>

              <h4>Other Important Info to Keep in Mind</h4>

              <h5>Candidates must have at least one of the types listed below.</h5>

              <p>
                For example, a candidate who went to school at Stanford and and worked at Cisco is good because they
                went to Stanford. A candidate who went to San Jose State and worked at Google is good because Google is
                good. However, a candidate who worked at
                Cisco and went to school at San Jose state is bad and should not be entered because Cisco is not on one
                of the lists below and because San Jose State is not on one of the lists below.
              </p>

              <h5>
                Type 1: Top 20 Internet Companies:
              </h5>

              <p>
              <ol>
                <li>Facebook</li>
                <li>Google</li>
                <li>Netflix</li>
                <li>Apple</li>
                <li>Microsoft</li>
                <li>Linkedin</li>
                <li>Zynga</li>
                <li>Amazon</li>
                <li>eBay</li>
                <li>Yahoo</li>
                <li>VMWare</li>
                <li>Nextdoor</li>
                <li>Symantec</li>
                <li>FriendFinder</li>
                <li>Uber</li>
                <li>Lyft</li>
                <li>Wayfair</li>
                <li>Robinhood</li>
                <li>Dropbox</li>
                <li>Box</li>
              </ol>
              </p>

              <h5>
                Type 2: Startup from a top accelerator:<br/>
                <%= link_to 'Top startups by accelerator', 'http://www.seed-db.com/accelerators' %>
              </h5>

              <h5>
                Type 3: Candidates at Unicorn Startups (ones that are valued over $1 billion)<br/>
                <%= link_to 'List of Unicorn Startups', 'https://www.cbinsights.com/research-unicorn-companies' %>
              </h5>

              <h5>
                Type 4: Candidates at Startups that are funded by top VCs<br/>
                Top VCs - Go to their websites and browse their software portfolio companies:
              </h5>

              <p>
              <ol>
                <li>Andreessen Horowitz</li>
                <li>Sequoia Capital</li>
                <li>Accel Partners</li>
                <li>Benchmark Capital</li>
                <li>Union Square Ventures</li>
                <li>General Catalyst Partners</li>
                <li>NEA</li>
                <li>Kleiner Perkins Caufield & Byers (KPCB)</li>
                <li>Khosla Ventures</li>
                <li>Greylock Partners</li>
              </ol>
              </p>

              <h5>
                Type 5: Candidates who went to Top schools<br/>
                Top 17 CS Schools
              </h5>

              <p>
              <ol>
                <li>MIT</li>
                <li>Stanford</li>
                <li>Harvard</li>
                <li>Berkeley</li>
                <li>CMU</li>
                <li>UCLA</li>
                <li>Wisconsin</li>
                <li>UIUC</li>
                <li>Cornell</li>
                <li>Yale</li>
                <li>Brown</li>
                <li>GeorgiaTech</li>
                <li>Michigan</li>
                <li>Princeton</li>
                <li>Duke</li>
                <li>CalTech</li>
                <li>Purdue</li>
              </ol>
              </p>

              <h5>
                Here are a few more interesting companies:
              </h5>

              <p>
              <ol>
                <li>Akamai</li>
                <li>Ask.com (platform)</li>
                <li>Aspera</li>
                <li>BlueKai</li>
                <li>Cloudera</li>
                <li>Composite</li>
                <li>DataStax (Cassandra)</li>
                <li>Informatica</li>
                <li>Marketo</li>
                <li>Marklogic</li>
                <li>Palantir</li>
                <li>Paraccel (bought by Actian)</li>
                <li>Pivotal</li>
                <li>Salesforce</li>
                <li>SAP Labs (Hana Team)</li>
                <li>Splunk</li>
                <li>Sumo Logic, Inc.</li>
                <li>Palantir</li>
                <li>Paraccel (bought by Actian)</li>
                <li>Pivotal</li>
                <li>Salesforce</li>
                <li>SAP Labs (Hana Team)</li>
                <li>Splunk</li>
                <li>Sumo Logic, Inc.25. Teradata/Asterdata</li>
                <li>Twilio</li>
                <li>Workday (platform group)</li>
                <li>Marin</li>
                <li>Walmart labs</li>
                <li>Oracle - BEA WebLogic</li>
                <li>Oracle - GlassFish Server</li>
              </ol>
              </p>
            </div>
          </div>

          <div class="accordion-item">
            <a class="item-title">Pay & Invoices</a>
            <div class="content">

              <h4>Onboarding Items</h4>

              <p>
                Here is a list of items needed in order to complete our on-boarding process.

              <ul>
                <li>
                  a) please complete attached w-9 ..
                  <%= link_to 'Form W-9', @example_form_w9 %>
                  need EIN & SSN ..
                </li>
                <li>
                  b) for direct transfer .. need your name & address, that is on your bank's account documents; need
                  your bank name & address; need bank routing # & your bank acct # ..
                </li>
                <li>
                  c) what is your start date?
                </li>
                <li>
                  d) Attach copy of your agreement.
                </li>
              </ul>
              </p>

              <h4>Submit completed onboarding documents to:</h4>
              <ul>
                <li>Raj: rs.cardinalop@gmail.com</li>
                <li>PCC: paul@cardinalhire.com</li>
                <li>TL: teamleon@gmail.com</li>
              </ul>

              <h4>Invoices</h4>

              <p>
                Invoices are to be completed and submitted semi-monthly:
              <ul>
                <li>for the period from the 1st to the 15th of the month, and</li>
                <li>for the period from the 16th to the end of the month (EOM)</li>
              </ul>
              </p>

              <p>
                <i>
                  <b>Invoices are due by 5pm on the 16th and the 1st of each month every month, respectively.</b>
                  Invoices that are received after those dates may be delayed to the next invoice period so please make
                  sure that you get your invoices get in on time!</i>
              </p>

              <p>
                Here are some sample invoice templates that you can use or please feel free to use your own.
                <%= link_to 'Click here to view sample invoices.', 'https://templates.office.com/en-US/Invoices' %>
              </p>

              <p>
                Completed invoices should be submitted as a PDF file and should include all of the following:
              <p>
              <ul>
                <li>List of confirmed client interviews for the invoice period and the dates that those client
                  interviews took place
                </li>
                <li>List of submitted candidates for the invoice period and the dates that those candidates were
                  submitted
                </li>
                <li>List of hires for the invoice period and the date that each new hire started their new job</li>
                <li>Starting and ending dates of invoice period</li>
                <li>Hours worked per week during invoice period</li>
              </ul>
              </p>

              <h4>Submit invoices to:</h4>
              <ul>
                <li>Invoices Team: invoices@cardinalhire.com</li>
                <li>Raj: rs.cardinalop@gmail.com</li>
                <li>PCC: paul@cardinalhire.com</li>
                <li>TL: teamleon@gmail.com</li>
              </ul>
              </p>

              <h4>Invoice Approvals</h4>
              <p>Invoices are subject to review and approval from CH Operations.</p>

              <h4>Invoice Payments</h4>

              <p>
                Payments can be via check or direct bank transfer.
              </p>

              <p>
                CH may choose to issue all SF Bay Area payments by CH check, for Contractors to pick up from CH Office.
                (CH may request SF Bay Area Contractors to attend meetings/etc at CH Office ... weekly/monthly/TBD).
              </p>

              <h4>Payment Processing</h4>
              <p>
                Invoices must be submitted to and approved by CH Operations before payment processing. CH Operations
                will process payments under timetable below (subject to change due to uncontrollable factors). CH
                Operations will process payments in weekly batches.
              </p>

              <h4>Payment Timetable</h4>
              <p>
                Present expectation .. payment processing/direct transfers (bank posting) 7 to 10 days after end of
                semimonthly period. Timetable subject to change, based on Bank's processing timetable. At present, Bank
                does not process on weekends or holidays, and
                Bank has 3 business day processing to non-BofA accounts.
              </p>

              <h4>Bank Processing Fees</h4>
              <p>
                For options other than checks which can be picked up at the CH office if that option is selected, CH
                will deduct Bank processing fees from Invoice amount/balance.
              </p>
              <p>
                Present Bank Fees ..
              <ul>
                <li>
                  CH checks .. no fee;
                </li>
                <li>
                  ACH to BofA account .. no fee;
                </li>
                <li>ACH to non-BofA account (3 business days processing time) .. $3 fee;</li>
                <li>ACH to non-BofA account (1 business day processing time) .. $10 fee;</li>
                <li>bank wire to ANY bank account (same business day) .. $30 fee;</li>
                <li>overseas bank wire (same business day) .. $35 to $45 fee;</li>
              </ul>
              </p>
            </div>
          </div>

          <div class="accordion-item">
            <a class="item-title">FAQs</a>
            <div class="content">
              <h4>Are there any video resources that I can use?</h4>
              <p>
                PCC suggests:
              <ul>
                <li>
                  <%= link_to 'Jerry Maguire (IMDB)', 'https://www.imdb.com/title/tt0116695/' %>
                </li>
                <li>
                  <%= link_to 'The Wolf of Wall Street (IMDB)', 'https://www.imdb.com/title/tt0993846/' %>
                </li>
              </ul>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="space-10"></div>
</div>
<!-- erbend app/views/help_pages/newhires.html.erb -->
