<!-- erbstart app/views/linkedin_profile_educations/show.html.erb -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Linkedin profile:</strong>
  <%= @linkedin_profile_education.linkedin_profile_id %>
</p>

<p>
  <strong>School name:</strong>
  <%= @linkedin_profile_education.school_name %>
</p>

<p>
  <strong>Field of study:</strong>
  <%= @linkedin_profile_education.field_of_study %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @linkedin_profile_education.degree %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @linkedin_profile_education.start_date %>
</p>

<p>
  <strong>Start date year:</strong>
  <%= @linkedin_profile_education.start_date_year %>
</p>

<p>
  <strong>Start date month:</strong>
  <%= @linkedin_profile_education.start_date_month %>
</p>

<p>
  <strong>End date:</strong>
  <%= @linkedin_profile_education.end_date %>
</p>

<p>
  <strong>End date year:</strong>
  <%= @linkedin_profile_education.end_date_year %>
</p>

<p>
  <strong>End date month:</strong>
  <%= @linkedin_profile_education.end_date_month %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @linkedin_profile_education.activities %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @linkedin_profile_education.notes %>
</p>

<p>
  <strong>Linkedin field of study:</strong>
  <%= @linkedin_profile_education.linkedin_field_of_study_id %>
</p>

<p>
  <strong>Linkedin school:</strong>
  <%= @linkedin_profile_education.linkedin_school_id %>
</p>

<%= link_to 'Edit', edit_linkedin_profile_education_path(@linkedin_profile_education) %> |
<%= link_to 'Back', linkedin_profile_educations_path %>
<!-- erbend app/views/linkedin_profile_educations/show.html.erb -->
