<div class="title clearfix">
  <p style="float:left;">My Submissions</p>
  <p style="float:right;">Displaying <span class="special-bold"><%= submissions&.page(1)&.count || 0 %></span> of <span><%= submissions&.count || 0 %></span> submissions</p>
</div>
<div class="companies">
  <ul>
    <li>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Job</th>
            <th scope="col">Date</th>
            <th scope="col">Job Owner</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <% submissions&.each do |submission| %>
        <tbody>
            <tr>
              <td><%= link_to "#{submission.job.name}", job_path(submission.job_id), class: 'btn btn-secondary btn-block fa fa-list-ol' %></td>
              <td><%= submission.created_at.utc %></td>
              <td><%= submission.job.user.try(:email) %></td>
              <td>
                <%= link_to submission_path(submission), method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                  <%= image_tag('icons/trash-2.svg', alt: 'clear search', style: 'display: inline; padding: 13px;') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </li>
  </ul>
</div>